* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans';
}

body {
  min-height: 100vh;
}

h1 {
  color: #41416A;
}

h4 {
  font-size: 16px;
}

button {
  font-family: 'Noto Sans';
}

.container {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  max-height: 100%; /* Adjust height for full viewport height */
  max-width: 100%; /* Ensure container doesn't exceed the viewport width */
  margin: 20px 20px;
  padding: 0px 0px 20px 0px;
  box-sizing: border-box;
}

.home-background {
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; 
  width: auto; /* Maintain aspect ratio */
  max-width: 20%;
  padding: 20px 0px 20px 0px;
}

.title-container {
  display: flex; /* Use flexbox */
  flex-direction: row; /* Stack children vertically */
  align-items: center;
  justify-content: center; /* Center horizontally */
  max-width: 100%; /* Ensure container doesn't exceed the viewport width */
  padding-top: 20px;
}

.home-mini {
  height: auto; /* Maintain aspect ratio */
  width: auto; /* Maintain aspect ratio */
  max-height: 60px;
  padding-left: 10px;
  padding-right: 15px;
}

.progress-button {
  padding: 10px 20px 10px 20px;
  margin: 10px 20px 10px 20px;
  font-size: large;
  color: #FFFFFF; /* Text color */
  background-color: #41416A; /* Silver Wolf primary color */
  border: 2px solid #41416A; /* Match border color */
  border-radius: 25px; /* Make it rounded */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 5px rgba(65, 65, 106, 0.5); /* Ring border effect *//* Ring border effect */
}

.progress-button:hover {
  background-color: #282846; /* Darken button color on hover */
  border-color: #282846; /* Match border color on hover */
  box-shadow: 0 0 0 10px rgba(65, 65, 106, 0.3); /* Increase ring size on hover */
}

.progress-button:active {
  background-color: #1e1e34; /* Darkest shade for active state */
  border-color: #1e1e34; /* Match border color on active state */
  box-shadow: 0 0 0 10px rgba(65, 65, 106, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.5); /* Increase ring size on active state and add inner shadow */
}

#question-container {
  display: none;
}

#choices-container {
  display: flex;
  flex-direction: row;
  margin: 20px 20px 0px 20px;
  text-align: center;
  justify-content: center;
}

.choice-marker {
  text-align: center;
  justify-content: center;
  padding: 10px 20px;
  margin: 10px;
}

#choices-list {
  list-style-type: none;
  padding: 0;
}

.choice-item {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px;
  font-size: large;
  color: #FFFFFF; /* Text color */
  background-color: transparent; /* Silver Wolf primary color */
  border: 2px solid #41416A; /* Match border color */
  border-radius: 25px; /* Make it rounded */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 5px rgba(65, 65, 106, 0.5); /* Ring border effect *//* Ring border effect */
}

.choice-item:hover {
  color: #282846;
  background-color: #282846; /* Darken button color on hover */
  border-color: #282846; /* Match border color on hover */
  box-shadow: 0 0 0 10px rgba(65, 65, 106, 0.3); /* Increase ring size on hover */
}

.choice-button:active {
  color: #1e1e34;
  background-color: #1e1e34; /* Darkest shade for active state */
  border-color: #1e1e34; /* Match border color on active state */
  box-shadow: 0 0 0 10px rgba(65, 65, 106, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.5); /* Increase ring size on active state and add inner shadow */
}

.choice-item.selected {
  background-color: #41416A;
  color: #41416A;
}

.choice-marker-phone {
  display: none;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.share-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.share-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.share-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 15px;
}

.share {
  width: 50px;
  height: 50px;
  padding: 0;
}

.share-img {
  width: 100%;
  height: 100%;
}

.twitter-share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #1DA1F2; /* Twitter Blue */
  color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #1DA1F2;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-size: 16px;
}

.twitter-share-button .twitter-logo, .instagram-share-button .instagram-logo, .copy-share-button .copy-logo, .threads-share-button .threads-logo {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  fill: #FFFFFF;
}

.twitter-share-button:hover {
  background-color: #FFFFFF;
  color: #1DA1F2;
  border-color: #1DA1F2;
}

.twitter-share-button:hover .twitter-logo {
  fill: #1DA1F2;
}

.instagram-share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #E4405F; /* Instagram Pink */
  color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #E4405F;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-size: 16px;
}

.instagram-share-button:hover {
  background-color: #FFFFFF;
  color: #E4405F;
  border-color: #E4405F;
}

.instagram-share-button:hover .instagram-logo {
  fill: #E4405F;
}

.copy-share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #41416A; /* Instagram Pink */
  color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #41416A;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-size: 16px;
}

.copy-share-button:hover {
  background-color: #FFFFFF;
  color: #41416A;
  border-color: #41416A;
  cursor: pointer;
}

.copy-share-button:hover .copy-logo {
  fill: #41416A;
}

.threads-share-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: #000000; /* Instagram Pink */
  color: #FFFFFF;
  text-decoration: none;
  border: 2px solid #000000;
  border-radius: 25px;
  transition: all 0.3s ease;
  font-size: 16px;
}

.threads-share-button:hover {
  background-color: #FFFFFF;
  color: #000000;
  border-color: #000000;
  cursor: pointer;
}

.threads-share-button:hover .threads-logo {
  fill: #000000;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  background-color: rgb(63, 165, 165);
}

.author {
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 750px) { 
  h1 {
    font-size: 22px;
  }

  h4 {
    margin: 0px 30px;
  }

  .container {
    margin: 1px;
  }

  .home-background {
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; 
    width: auto; /* Maintain aspect ratio */
    max-width: 60%;
  }

  #choices-container {
    font-size: 12px;
  }

  .choice-item {
    padding: 7.5px 17.5px;
    margin: 10px;
  }

  .choice-marker {
    display: none;
  }

  .choice-marker-phone {
    display: block;
    justify-content: center;
    padding: 0px 10px;
  }

  .share-buttons {
    flex-direction: column;
  }

  .twitter-share-button, .instagram-share-button, .copy-share-button, .threads-share-button {
    padding: 8px 16px;
    font-size: 14px;
  }

  .twitter-share-button .twitter-logo, .instagram-share-button .instagram-logo, .copy-share-button .copy-logo, .threads-share-button .threads-logo {
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}