* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans';
}

h1 {
  color: #41416A;
}

button {
  font-family: 'Noto Sans';
}

.container {
  display: flex; /* Use flexbox */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  max-height: 100%; /* Adjust height for full viewport height */
  max-width: 100%; /* Ensure container doesn't exceed the viewport width */
  margin: 20px 20px;
  box-sizing: border-box;
}

.home-background {
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; 
  width: auto; /* Maintain aspect ratio */
  max-width: 80%;
}

@media (min-width: 600px) {
  .home-background {
    height: auto; /* Maintain aspect ratio */
    max-height: 100%; 
    width: auto; /* Maintain aspect ratio */
    max-width: 25%;
  }
}

.home-title {
  padding-bottom: 20px;
}

.title-container {
  display: flex; /* Use flexbox */
  flex-direction: row; /* Stack children vertically */
  align-items: baseline;
  justify-content: center; /* Center horizontally */
  max-width: 100%; /* Ensure container doesn't exceed the viewport width */
}

.home-mini {
  height: auto; /* Maintain aspect ratio */
  width: auto; /* Maintain aspect ratio */
  max-height: 60px;
  padding-left: 10px;
  padding-right: 15px;
}

.progress-button {
  padding: 10px;
  margin: 20px;
  font-size: large;
  color: #FFFFFF; /* Text color */
  background-color: #41416A; /* Silver Wolf primary color */
  border: 2px solid #41416A; /* Match border color */
  border-radius: 50px; /* Make it rounded */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0 0 5px rgba(65, 65, 106, 0.5); /* Ring border effect *//* Ring border effect */
}

.progress-button:hover {
  background-color: #282846; /* Darken button color on hover */
  border-color: #282846; /* Match border color on hover */
  box-shadow: 0 0 0 10px rgba(65, 65, 106, 0.3); /* Increase ring size on hover */
}

.progress-button:active {
  background-color: #1e1e34; /* Darkest shade for active state */
  border-color: #1e1e34; /* Match border color on active state */
  box-shadow: 0 0 0 10px rgba(65, 65, 106, 0.3), inset 0 0 5px rgba(0, 0, 0, 0.5); /* Increase ring size on active state and add inner shadow */
}

#question-container {
  display: none;
}